<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to lists_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Additional navbar content can go here -->
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="display-4 font-weight-bold"><%= @list.name %></h1>
    <p class="lead">Explore the movies in this list</p>
  </div>
  <div class="row g-4 justify-content-center">
    <% @bookmarks.each do |bookmark| %>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %> poster">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center"><%= bookmark.movie.title %></h5>
            <p class="card-text text-center"><%= bookmark.comment %></p>
            <%= link_to "ðŸ—‘ï¸ Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Do you really want to delete this bookmark?" }, class: 'btn btn-danger mt-auto' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-5">
    <h2 class="text-center">Add Bookmark</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= simple_form_for [@list, @bookmark], url: list_bookmarks_path(@list), html: { class: 'form-horizontal' } do |f| %>
          <div class="form-group mb-3">
            <%= f.input :movie_id, collection: Movie.all.collect { |m| [m.title, m.id] }, label: 'Movie', input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group mb-3">
            <%= f.input :comment, label: 'Comment', input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group">
            <%= f.button :submit, 'Create Bookmark', class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
